<html>
  <head></head>
  <body>
    <form method="POST" action="/artists">
    <label>Name:</label><br>
    <input type="text" name="name"><br>
    <label>Genre:</label><br>
    <input type="text" name="genre"><br>
    <input type="submit" name="Submit form">  
  </body>
</html>