<html>
  <head></head>
  <body>
    <form method="POST" action="/albums">
    <label>Title:</label><br>
    <input type="text" name="title"><br>
    <label>Released:</label><br>
    <input type="text" name="release_year"><br>
    <label>Artist id:</label><br>
    <input type="text" name="artist_id">
    <input type="submit" name="Submit form">
  </body>
</html>